// Widescreens
@include mediaXL {
}
// Desktops & laptops
@include mediaLg {
  .about-info {
    display: grid;
    grid-template-areas:
      "bioimage bio"
      "job1 job2"
      "job3 job3";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c c";
    .item:nth-child(1) {
      grid-area: a;
    }
    .item:nth-child(2) {
      grid-area: b;
    }
    .item:nth-child(3) {
      grid-area: c;
    }
  }
  .fun {
    grid-template-columns: repeat(2, 1fr);
  }
  .current-project {
    grid-template-areas:
      "a a a a a a"
      "b b b b b b";
  }
}
// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      background: url("../img/newportrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }
  .about-info {
    display: grid;
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c c";
    .item:nth-child(1) {
      grid-area: a;
    }
    .item:nth-child(2) {
      grid-area: b;
    }
    .item:nth-child(3) {
      grid-area: c;
    }
  }
  .current-project {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b";
  }
  .current-project-text {
    text-align: left;
  }
}
// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
  }
  main#home h1 {
    margin-top: 10vh;
  }

  main h1.lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  main#home .text-secondary {
    //font-size: 3.5rem;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c";
    .item:nth-child(1) {
      grid-area: a;
    }
    .item:nth-child(2) {
      grid-area: b;
    }
    .item:nth-child(3) {
      grid-area: c;
    }
  }
  .current-project {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b";
  }
  .current-project-text {
    text-align: left;
  }
}
